{% extends "base.html" %}

{% block title %}Categories{% endblock %}

{% block content %}
<head>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />
  <style>
    .thead{
        background-color:#661C1C ;
        color:white
    }
</style>
</head>
<br>
<table class="table">
    <thead class="thead">
        <tr>
            <th>Rack No</th>
            <th>Categories</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.rack_no }}</td>
            <td>{{ item.category }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}