{% extends "base.html" %}

{% block title %}Expired Items{% endblock %}

{% block content %}
<br/>
<head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <style>
        .thead{
            background-color:#661C1C ;
            color:white
        }
        .btn{
            background-color: #661C1C;
            color: white;
        }
    </style>
</head>
<form action="" method="POST">
    <div style="float:right">
        <label for="item name">Delete Item</label>
        <input type="text" name="name" id="name" placeholder="Enter Item Name">
        <button type="submit" class="btn">Delete</button>
    </div>
</form>
<br/>

<br>
<table class="table">
    <thead class="thead">
        <tr>
            <th>Items</th>
            <th>Exipry Date</th>
        </tr>
    </thead>
    <tbody>
        {% for item in expired %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.expiry_date }}</td>
        </tr>
    </tbody>
        {% endfor %}
</table>





{% endblock %}