{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <style>
        .thead{
            background-color:#661C1C ;
            color:white
        }
        .btn{
            background-color: #661C1C;
            color: white;
        }
    </style>
</head>
<body>
<br/>
<form action="" method="POST">
    <div style="float:right">
        <input type="text" name="name" id="name" placeholder="Enter Item Name">
        <button type="submit" class="btn">Search</button>
    </div>
</form>
<br/>
<br>

<table class="table">
    <thead class="thead">
        <tr>
            <th>Sr. No</th>
            <th>Item Name</th>
            <th>Category</th>
            <th>Stock Availibility</th>
        </tr>
    </thead>
    <tbody>
        {% for item in user.items  %}
        <tr>
            <!--instead of button use <a> tag-->
            <td>{{ item.id }}</td>
            <td><a style="color:inherit" href="{{url_for('views.report',id=item.id)}}">{{ item.name }}</a></td>
            <td>{{ item.category }}</td>
            <td>{{ item.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
{% endblock %}